project_1
DMATest_DriverOLD
DMA-Proxy
TBEQ3
final
compatible.png
IP
BOOT_DMATestx2
IP
BOOT_DMATestx2
vezba12
Vezba12_Instaliranje_Linux-a_na_Zybo_ploci_na_primeru_DMA_VGA.pdf
BOOT
BOOT2
BOOT3
BOOT4
BOOTEQ2
BOOTEQ3
FFT-IFFT
BOOT_DMATest
BOOT_DMATest1int
BOOT_DMA2FFT
project_2
DMA.png
app
*.pdf
*.wav
*.mp3
*.o
*.cmd
*.mod.c
*.mod.o
*.order
.tmp_versions
*.symvers
*.ko
*.d
*.exe
MSREAL/Converter/amps.txt
MSREAL/Converter/audiodouble.txt
MSREAL/Converter/freq.txt
MSREAL/Converter/outputdouble.txt
MSREAL/Converter/testing/
MSREAL/audio_app/output.txt
MSREAL/audio_app/input.txt
MSREAL/audio_app/pscp.txt
MSREAL/old
MSREAL/test_app
output1.txt
project_3
app_dma_probeOLD
app_equalizer_probeOLD
dma_driverOLD
