project_1
DMATest_DriverOLD
DMA-Proxy
final
compatible.png
IP
BOOT_DMATestx2
IP
BOOT_DMATestx2
vezba12
Vezba12_Instaliranje_Linux-a_na_Zybo_ploci_na_primeru_DMA_VGA.pdf
BOOT
BOOT2
BOOT3
BOOT4
BOOTEQ2
FFT-IFFT
BOOT_DMATest
BOOT_DMATest1int
BOOT_DMA2FFT
project_2
DMA.png
app
*.wav
*.o
*.cmd
*.mod.c
*.mod.o
*.order
.tmp_versions
*.symvers
*.ko
*.d
*.exe
Driver/Converter/amps.txt
Driver/Converter/audiodouble.txt
Driver/Converter/freq.txt
Driver/Converter/outputdouble.txt
output1.txt
project_3
app_dma_probeOLD
app_equalizer_probeOLD
dma_driverOLD
